body{
    background-color: #FAFAF9;
}

div{
    background-color: white;
    width: 336px;
    height: 336px;
    box-shadow: 0px 30px 100px 0px rgba(17, 23, 41, 0.05);
    margin: auto;
    margin-top: 164px;
    border-radius: 16px;
}

#cactus{
    width: 90%;
    margin: 16px;
    border-radius: 10px;
}

#design{
    margin-left: 16px;
    border: none;
    background-color: #E6D6FC;
    border-radius: 10px;
    padding: 6px 12px;
    font-family: sora;
    color: #883AE1;
    font-size: 11px;
    font-weight: bold;
    text-transform: capitalize;
}

H1{
    font-size: 17px;
    font-family: sora;
    margin-left: 16px;
    margin-bottom: 6px
}
p{
    margin-top: 0px;
    font-family: sora;
    font-size: 12px;
    margin-left: 16px;
    color: #6C727F;
    margin-bottom: 20px;
}

#foot{
    margin-top: 0px;
    font-family: sora;
    font-size: 12px;
    margin-left: 16px;
    color: #6C727F;
}